@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body::-webkit-scrollbar {
    width: 10px;
    border-right: 2px solid #1b2223;
}
body::-webkit-scrollbar-thumb {
    background: #f1f3f3;
    border-radius: 12px;
    border-right: 2px solid #1b2223;
}
body {
    background-color: #1b2223;
    color: #f4fefd;
    font-family: "Poppins", sans-serif;
}

#navbar {
    color: #ffff;
    font-size: x-large;
}

.nav-item svg {
    width: 30px;
    height: 30px;
}

.card {
    margin-top: 80px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}

.content-search {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}
.content-table {
    width: 80%;
    max-height: 200px;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table {
    width: 100%;
}

tbody tr td a {
    display: block;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}
tbody tr td a:hover {
    background: rgba(0, 0, 0, 0.3);
}
tbody tr td a:hover {
    background: rgba(0, 0, 0, 0.3);
}
#tabla_length,
#tabla_filter,
#tabla_info,
#tabla_paginate {
    display: none;
}

.btn-toggle-custom:hover {
    background-color: #f1f3f3;
    color: #1b2223 !important;
}
.link-sidebar-custom {
    margin: 10%;    
}
.link-sidebar-custom:hover {
    background-color: #f1f3f3;
    color: #1b2223 !important;
    padding: 2%;
}
.link-sidebar-custom.active{
    background-color: #f1f3f3;
    color: #1b2223 !important;
    padding: 2%;
}
